
.terraform/plugins/linux_amd64/lock.json
.terraform/plugins/linux_amd64/terraform-provider-aws_v3.3.0_x5
terraform.tfstate
terraform.tfstate.backup
maintest.tf
maintest.tf
.terraform/plugins/linux_amd64/terraform-provider-template_v2.1.2_x4
.terraform/plugins/linux_amd64/terraform-provider-random_v2.3.0_x4
.terraform/modules/modules.json
MISC/main.tf
TLmacroAws.tar
*.0_x4
MISC/.terraform/plugins/linux_amd64/terraform-provider-aws_v3.12.0_x5
MISC/.terraform/plugins/linux_amd64/terraform-provider-random_v3.0.0_x5
MISC/.terraform/plugins/registry.terraform.io/hashicorp/aws/3.20.0/linux_amd64/terraform-provider-aws_v3.20.0_x5
MISC/.terraform/plugins/registry.terraform.io/hashicorp/random/3.0.0/linux_amd64/terraform-provider-random_v3.0.0_x5
MISC/.terraform/plugins/linux_amd64/lock.json
MISC/.terraform/modules/TLmacro/
MISC/.terraform/modules/modules.json
MISC/.terraform/plugins/selections.json
MISC/my-plan
